* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 border: 0px solid red;
}

body {
  background-color: black;
}

.home {
  position: fixed;
  border-radius: 50%;
  height: 50vh;
  width: 50%;
  background-color: #fff;
}

.home.tl {
  top: 0;
  left: 0;
}

.home.tr {
  top: 0;
  right: 0;
}

.home.bl {
  bottom: 0;
  left: 0;
}

.home.br {
  bottom: 0;
  right: 0;
}

.head-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 100% auto;
  transform: translate(-50%, -50%);
  line-height: 1.2;
  text-align: center;
  mix-blend-mode: difference;
}

.head {
  display: inline-block;
  vertical-align: middle;
  font-size: 14pt;
  font-family: arial;
  font-weight: regular;
  color: white;
}

.name {
  font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
  mix-blend-mode: difference;
  color: white;
  text-decoration: underline;
}
